[bumpversion]
current_version = 1.9.6
tag = True
commit = True

[bumpversion:file:default.d/20-base/app.conf]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:glob:bin.d/*/*.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
